<div class="center jumbotron">
   <h1>BUY BEER ONLINE!</h1>

<h2>
This is the home page for the
<a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
sample application.
</h2>

<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("beer.jpg", alt: "Beer logo", width: "350px") %>

<%= link_to image_tag("liverpoolcarlsberg.png", alt: "Beer logo", width: "600px"),
"https://www.carlsberg.com/en/" %>